{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2>{{ user.username }}</h2>
        <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}" class="rounded-circle" style="width:200px; height: 200px;">
        <p>Email: {{ user.email }}</p>
        <!-- Add any other user information you want to display here -->
        <a href="{{ url_for('profile') }}" class="btn btn-primary">Edit Profile</a>
    </div>
    <div class="books-liked">
        <h3>Books Liked:</h3>
        <ul>
            {% for like in user.liked_books %}
                <li>
                    {{ like.book.title }}
                    <a href="https://books.google.com/books?id={{ like.book.google_books_id }}" target="_blank" class="btn btn-secondary">View on Google Books</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
